In [7]:
from typing import Iterable

import pandas as pd

APPLICATION = "postgresql-ha"
EXPERIMENTS = {
    "ct": "Control Test",
    "pd": "Perturbation Disabled",
    "vb": "Vary build",
    "vp": "Vary patch",
    "vm": "Vary Minor",
}

In [25]:
# Read all datafiles as separate DataFrames
dfs = {
    experiment: pd.read_json(f"{experiment}_{APPLICATION}.jsonl", lines=True)
    for experiment in EXPERIMENTS.keys()
}

# Combine all DataFrames
df = pd.concat(dfs, names=["experiment"])

# Display the data loaded
df

                                 start_time  time_to_initialize  \
experiment
ct         0  2020-08-10 14:05:56.242291927           78.602810
           1  2020-08-10 14:14:43.314725161           45.677756
           2  2020-08-10 14:22:17.197078943           68.845743
           3  2020-08-10 14:29:47.296878099           65.700319
           4  2020-08-10 14:37:04.917234898           53.025109
...                                     ...                 ...
vm         10 2020-08-11 00:03:26.578637123         1252.318634
           11 2020-08-11 00:31:17.515824795          136.770135
           12 2020-08-11 00:40:20.825722933         1447.455548
           13 2020-08-11 01:11:31.858479023          100.255906
           14 2020-08-11 01:20:15.198992968          202.227090

               time_to_first_request  time_to_all_requests  restarts  \
experiment
ct         0               45.747801             70.021016         0
           1               27.764674             34.111991         0
           2               42.068355             68.319220         0
           3               38.411755             61.599261         0
           4               24.400544             34.525423         0
...                              ...                   ...       ...
vm         10              40.250844            264.640370        15
           11              39.712688            129.500411         7
           12             206.052714           1446.940320        35
           13              44.689342             99.800744         5
           14              69.759578            201.743801         7

                                   end_time
experiment
ct         0  2020-08-10 14:07:15.298298836
           1  2020-08-10 14:15:29.429429054
           2  2020-08-10 14:23:26.447458982
           3  2020-08-10 14:30:53.454533815
           4  2020-08-10 14:37:58.422300816
...                                     ...
vm         10 2020-08-11 00:24:19.328743935
           11 2020-08-11 00:33:34.770613909
           12 2020-08-11 01:04:28.698216915
           13 2020-08-11 01:13:12.581374884
           14 2020-08-11 01:23:37.883342028

[75 rows x 6 columns]

In [33]:
by_experiment = df.groupby("experiment")

by_experiment.describe()

           time_to_initialize                                                 \
                        count        mean         std        min         25%
experiment
ct                       15.0   57.186463   10.932179  41.761491   48.088035
pd                       15.0   57.151247   10.696943  38.206558   48.392610
vb                       15.0   64.172951   17.778058  47.000679   49.425172
vp                       15.0  134.512461   65.742129  67.184681   85.477289
vm                       15.0  514.181989  510.241079  73.565047  116.271404

                                                time_to_first_request  \
                   50%         75%          max                 count
experiment
ct           58.683177   64.690128    78.602810                  15.0
pd           59.368324   63.233743    72.862813                  15.0
vb           61.391754   71.738503   115.057164                  15.0
vp          115.491939  169.056768   313.332355                  15.0
vm          230.658907  820.321670  1447.455548                  15.0

                       ... time_to_all_requests              restarts  \
                 mean  ...                  75%          max    count
experiment             ...
ct          30.048150  ...            45.617267    70.021016     15.0
pd          32.246367  ...            51.987649    57.425403     15.0
vb          33.276684  ...            49.106638    67.146578     15.0
vp          46.067774  ...           168.111215   312.896556     15.0
vm          60.613639  ...           367.724391  1446.940320     15.0


                 mean       std  min  25%  50%   75%   max
experiment
ct           0.000000  0.000000  0.0  0.0  0.0   0.0   0.0
pd           0.000000  0.000000  0.0  0.0  0.0   0.0   0.0
vb           0.000000  0.000000  0.0  0.0  0.0   0.0   0.0
vp           3.866667  2.474633  0.0  2.0  3.0   6.0   8.0
vm          10.466667  8.592910  2.0  6.0  7.0  11.5  35.0

[5 rows x 32 columns]